DB_HOST=localhost
DB_PORT=5432
DB_NAME=pa2db
DB_USER=postgres
DB_PASSWORD=postgres

OLLAMA_HOST=localhost
OLLAMA_PORT=11434

EMBEDDING_MODEL=bge-m3
RERANKING_MODEL=mmarco

NUM_CANDIDATES=100
NUM_FINAL=5
DISTANCE_METRIC=cosine

HF_TOKEN=