POSTGRES_DB=crawler
POSTGRES_USER=crawler
POSTGRES_PASSWORD=crawler
POSTGRES_PORT=5432
PARSER_TABLE_SCHEMA=public
PARSER_TABLE_NAME=page
PARSE_LIMIT=100
CHUNK_LENGTH=128
MODEL_RUN_DEVICE=cpu

MODEL_NAME=BAAI/bge-m3
EMBEDDING_DIMENSION=1024
EMBEDDING_BATCH_SIZE=128
NORMALIZE_EMBEDDING=true

QUERY_RETURN_N=100
DISTANCE_METRIC=cosine
RERANKING_MODEL_NAME=cross-encoder/mmarco-mMiniLMv2-L12-H384-v1
RERANK_RETURN_N=10

#DATABASE_URL=postgresql+psycopg://crawler:crawler@localhost:5432/crawler #uncomment and configure if running locally
HUGGINGFACE_HUB_TOKEN= # your huggingface hub token